@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

h3 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

div {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}